/*-- scss:defaults --*/

// Define Fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@200;300;400;500;600;700&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

$title-font-family: 'Oswald', Georgia, serif !important;
$body-font-family: 'Oxygen', Arial, sans-serif !important;
$body-font-weight: 300;

$font-size-base: 0.95rem;
$code-block-font-size: 0.7rem;
$nav-link-active-weight: 600;

// Define Colours
$zv-black:  #202020;
$zv-white:  #FAFAFA;
$zv-grey:   #EEEEEE;
$zv-teal:   #0AB3C7;
$zv-fuchia: #C81E87;
$zv-blue:   #3D52D5;
$zv-orange: #E87800;
$zv-navy:   #003E74;

// SCSS variables
$body-color: $zv-black;
$primary: $zv-black;
$link-color: $zv-orange;
$body-bg: $zv-white;
$code-block-bg: $zv-grey;
$code-block-border-color: $zv-black;
$code-color: $zv-fuchia;


// Custom CSS styling

// -- Text
p{
  font-family: $body-font-family;
  font-weight: $body-font-weight;
}

h1, h2, .navbar {
  font-family: $title-font-family
}

.navbar-brand, .nav-link{
      font-size: larger; // xx-small, x-small, small, medium, large, larger,
                         // x-large, xx-large
}


// -- Navbar interactive color. (Hacky - return to later.)
.navbar-title:hover, .nav-link:hover, .nav-link.active {color: $zv-orange !important;}

#navbarCollapse:hover, #navbarCollapse:active {color: $zv-orange !important;}

a.dropdown-item:hover{color: $zv-orange !important}
.aa-SubmitIcon:hover {fill: $zv-orange !important}

//.nav-menu-professional.nav-link.dropdown-toggle.show {colour: $zv-orange !important;}



// -- Custom floats
.small_right, .small_left {
  display: inline-block;
  width: 33%;
  max-width: 200px;
}
.small_left {
  float: left;
  margin: 1em 1em 1em 0;
}
.small_right {
  float: right;
  margin: 0 0 1em 1em;
}
.small_left img, .small_right img{
  max-width: 100%;
}


.medium_right, .medium_left {
  display: inline-block;
  width: 55%;
  max-width: 270px;
}
.medium_left {
  float: left;
  margin: 1em 1em 1em 0;
}
.medium_right {
  float: right;
  margin: 0 0 1em 1em;
}
.medium_left img, .medium_right img{
  max-width: 100%;
}

