/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.navbar{
  background-color: #4B5853 /*#3D4E57*/;
  font-family: 'Bebas Neue', cursive;
}

.navbar-title{
  color:  #F4F5FF;
}

.navbar-title:hover{
  color: #b2c2bc;
}

.aa-SubmitIcon:hover{
  color: #b2c2bc !important;
}

.nav-link:hover, .nav-link:hover{
  color: teal !important;
  text-decoration:  underline;
}

.dropdown-item {
  color: #F4F5FF;
  background-color: #4B5853;
}

.dropdown-item:hover {
  background-color: #5f736b;
  color: #F4F5FF;
  text-decoration: underline;
}

.nav-dropdown-content a{
  color: #F4F5FF;
}

.nav-dropdown .nav-dropbtn {
  color: #F4F5FF;
}

.nav-footer {
  background-color: #F4F5FF;
}

.bi:hover{
  color: #b2c2bc !important;
}

body {
  background-color: #F4F5FF;
}

h1, h2 {
  font-family: 'Bebas Neue', serif;
  /*font-family: 'Cormorant Garamond', cursive;*/
  color:  #3e4653;
}

d-article h2 {
	border-bottom: 0;
  padding-bottom: 0;
}

/* Use specific font in the body of the text */
html, body, p {

  font-family: 'Raleway', sans-serif;
  color:  #3e4653;
}

a {
  color: teal /*#9b6499*/;
}

a:hover{
  color: #00aeae /*#d22dcb*/;
}


a.about-link{
  color: teal /*#9b6499*/ !important;
}

a.about-link:hover{
  color: #00aeae /*#d22dcb*/ !important;
}

.btn-outline-primary{
  color: teal !important;
  border-color: teal !important;
}

.btn-outline-primary:hover{
  color: white !important;
  background-color: teal !important;
  border-color: teal !important;
}

.small_right, .small_left {
  display: inline-block;
  width: 33%;
  max-width: 200px;
}
.small_left {
  float: left;
  margin: 1em 1em 1em 0;
}
.small_right {
  float: right;
  margin: 0 0 1em 1em;
}
.small_left img, .small_right img{
  max-width: 100%;
}


.medium_right, .medium_left {
  display: inline-block;
  width: 55%;
  max-width: 270px;
}
.medium_left {
  float: left;
  margin: 1em 1em 1em 0;
}
.medium_right {
  float: right;
  margin: 0 0 1em 1em;
}
.medium_left img, .medium_right img{
  max-width: 100%;
}
